  <header class="business-header">
    <div class="row">
      <div class="col-lg-12 home-page-tagline-position">
        <h1 class="tagline">Your Goals Have Never Been More Attainable</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center home-page-tagline-button">
        <%= get_started %>
      </div>
    </div>
  </header>