<br>
<div class="row">
<h3 class="text-center">Are you a Trainer or an Athlete?</h3>
  <div class="col-md-6 text-center">
    <%= link_to 'Trainer', new_trainer_path, class: 'btn btn-danger btn-lg' %>
  </div>
  <div class="col-md-6 text-center">
    <%= link_to 'Athlete', new_athlete_path, class: 'btn btn-success btn-lg' %>
  </div>
</div>
