<div class='container'>
<div class="row">
  <div>
    <h2>What Is Workout Warrior?</h2>
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-4">
    <%= image_tag('gym.jpg', class: "img-circle img-responsive img-center", size: '400x400') %>
    <h2>Trainers - Tired of your gym being empty?</h2>
    <p>Are you tired of handwriting programs for clients? Tired of keeping files? Do you ever wonder if your clients are actually doing the programs successfully?</p>
  </div>
  <div class="col-sm-4">
    <%= image_tag('fitness.jpg', class: "img-circle img-responsive img-center", size: '400x400') %>
    <h2>Hey Fitness Enthusiasts - Don't know what to do next?</h2>
    <p>Are you tired of not knowing where to go next or how to take your workout to the next level? Fed up with lack of attention from your trainer?</p>
  </div>
  <div class="col-sm-4">
    <%= image_tag('personal_trainer.jpg', class: "img-circle img-responsive img-center", size: '400x400') %>
    <h2>We have the solution - Workout Warrior!</h2>
    <p>Workout Warrior is the perfect tool for personal trainers to maximize client progress. Use Workout Warrior to create and assign custom workouts for your clients, track their progress and receive feedback to maximize progress and experience.</p>
  </div>
  <br>
  <div class="row">
  <% if !current_user %>
    <p>Create an account today, and change the way you train!</p>
    <p><%= link_to 'Get Started', new_user_registration_path, class: "btn btn-danger" %></p>
  <% end %>
  </div>
</div>
</div>
