
<header class="business-header image-responsive" alt="Responsive image">
  <div class="container">
    <% if notice %><div class="notice alert-info text-center"><%= notice %></div><% end %>
    <% if alert %><div class="alert alert-info text-center"><%= alert %></div><% end %>
  </div>
    <div class="row">
      <div class="col-lg-12 home-page-tagline-position">
        <h1 class="tagline">Your Goals Have Never Been More Attainable</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center home-page-tagline-button">
        <%= get_started %>
      </div>
    </div>
  </header>
<div class="container">
  <!-- Page Content -->
  <div class="row home-row">
    <div class="col-lg-6">
      <h4 class="home-list text-center"><u>Trainers</u></h4>
      <ul class="fa-ul home-list">
        <li><i class="fa-li fa fa-check"></i> Create custom workouts</li>
        <li><i class="fa-li fa fa-check"></i> Assign workouts to your clients</li>
        <li><i class="fa-li fa fa-check"></i> Track clients progress</li>
        <li><i class="fa-li fa fa-check"></i> Keep a list of all your clients and workouts</li>
      </ul>
    </div>
    <div class="col-lg-6">
      <h4 class="home-list text-center"><u>Athletes</u></h4>
      <ul class="fa-ul home-list">
        <li><i class="fa-li fa fa-check"></i> Receive and view custom workouts from your trainer</li>
        <li><i class="fa-li fa fa-check"></i> Mark workouts as completed</li>
        <li><i class="fa-li fa fa-check"></i> Add feedback to your assigned workouts</li>
      </ul>
    </div>
  </div>

    <!-- Footer -->
  <footer>
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright &copy; Workout Warrior 2015</p>
      </div>
    </div>
  </footer>
</div>