<!-- Modal -->
<div class="modal fade" id="show_program" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-size">
    <div class="modal-content">
      <div class="modal-body">
        <% if notice %><div class="notice"><%= notice %></div><% end %>
        <% if alert %><div class="alert"><%= alert %></div><% end %>
        <%= render file: 'programs/show.html.erb' %>
      </div>
    </div>
  </div>
</div>
