<ul class="dropdown-menu" id="trainer-athletes-for-program" role="menu" aria-labelledby="dropdownMenu1">
  <li role="presentation" class="dropdown-header">My Athletes</li>
  <% trainer_athletes.uniq.each do |athlete| %>
  <li id="ath-list">
    <%= link_to athlete.name, assign_to_program_path(@program, :athlete_id => athlete), remote: true, method: :put, id: 'add-athlete' %>
  </li>
  <% end %>
</ul>
