<h1> <%= @athlete.name %> </h1>
<% if @athlete.trainer %>
  <h2> (My Trainer is <%= @athlete.trainer.name %>) </h2>
<% end %>

<div class="profile-info">
  <p>I am an athlete and I know nothing.</p>
  <p class="personal-info">Here goes some stuff about me</p>
</div>