<div class="athlete-index">
  <% @athletes.each do |a| %>
    Name: <%= a.name %>
    <%= link_to 'Add', assign_trainer_path(athlete_id: a.id, trainer_id: current_user.trainer.id), class: 'btn btn-default', method: :patch %>
<% end %>

</div>
