<h1>New Athlete</h1>

  <%= render layout: 'modals/mymodal', locals: {modal_id: 'new_athlete', backdrop: 'static', keyboard: 'false' } do %>
    <%= render file: 'athletes/_athleteform' %>
  <% end %>
  <script type="text/javascript">$('#new_athlete').modal('show')</script>
