/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require rails_bootstrap_forms
 *= require select2
 *= require select2-bootstrap
 *= require_tree .
 *= require_self
 */

body {
  color:#000;
}

#program_name {
  padding: 10px;
  display: inline-block;
  width: 200px;
  margin: 6px 50px 6px 5px
}

#program_athlete_id {
  background-color: white;
  margin: 12px;
  padding: 10px;
  font-size: 16px;
  width: 100px;
}

.nested-fields {
  padding: 10px;
  margin: 2px;
  border: solid black 2px;
  border-radius: 5px;
}

#routines {
  clear: all;
}

h1 {
  text-align: center;
}

#program_name_div {
  margin: 15px 0px;
  border: solid black 2px;
  border-radius: 5px;
  padding: 5px;
}