html, body {
    margin: 0;
    height: 100%;
}

.modal-size {
  width: 900px;
}

.navbar-brand {
  font-size: 32px;
  font-family: 'Open Sans Condensed', sans-serif;
}

.navbar-nav > li > a {
  font-size: 18px;
  font-family: 'Open Sans Condensed', sans-serif;
}

.notice {
  float: right;
  font-size: 16px;
}

#new-program-header {
  font-size: 22px;
}

/* Header Image Background - Change the URL below to your image path (example: ../images/background.jpg) */

.business-header {
    height: 400px;
    background: image-url('fitness-hero.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* Customize the text color and shadow color and to optimize text legibility. */
.tagline {
    text-shadow: 0 0 10px #000;
    color: #fff;
    font-size: 65px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.home-list {
  font-size: 38px;
  font-family: 'Open Sans Condensed', sans-serif;

}

.home-page-tagline-position {
  top: 70px;
  text-align: center;
}

.home-page-tagline-button {
  top: 135px;
}

.img-center {
    margin: 0 auto;
}

footer {
    margin: 50px 0;
}

body {
  padding-top: 50px;
}

#program_name {
  padding: 10px;
  display: inline-block;
  width: 100%;
  margin: 6px 50px 6px 5px
}

#program_athlete_id {
  background-color: white;
  margin: 12px;
  padding: 10px;
  font-size: 16px;
  width: 100px;
}

.nested-fields {
  padding: 10px;
  margin: 2px;
  border: solid black 2px;
  border-radius: 5px;
}

#routines {
  clear: all;
}

h1 {
  color: #222;
  font-family: 'Open Sans Condensed', sans-serif;
}

h2 {
  text-align: center;
}

#program_name_div {
  margin: 15px 0px;
  border: solid black 2px;
  border-radius: 5px;
  padding: 5px;
}

/**************
bootstrap submenu css
**************/
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

#sidebar-add-athlete-list {
  text-align: center;
}

/* Trainer Profile Page */

.trainer-personal-info {
  margin-left: -40px;
  font-size: 25px;
  vertical-align: middle;
  margin-top: 105px;

  li {
    margin: 20px;
  }
}

.profie-position{
  top: 30px;
  left: 20px;
}

div.trainer-sidebar {
  overflow: scroll;
  color: white;
  padding: 25px;
  padding-bottom: 60px;
  background-color: rgba(0, 0, 0, 0.85);
  position: inherit;
  margin-left: -70px;
  height: 90vh;
  width: 210px;
  a {
    color: #ffffff;
    font-size: 1.2em;
    display: block;
    white-space: nowrap;
    overflow-x: hidden;
  }

  a.link {
    font-size: 1.5em;
  }
  a#new-program-ajax {
    font-size: 1.5em;
  }
  .collapse1 {
    text-indent: 7px;
  }
  .collapse2 {
    text-indent: 15px;
  }
}

#button-toolbar {
    margin-top: 30px;
}

.profile-information-divs {
  height: 400px;
  overflow-y: scroll;
  word-wrap:break-word;
}

/* Athlete Profile Page */

.personal-info {
  font-size: 25px;
  color: #222;
  font-family: 'Open Sans Condensed', sans-serif;
}

.well {
  min-height: 440px;
}

.athlete-gravatar {
  float: left;
}

.btn-margin {
  margin-top: 30px;
}

/* Exercise */

#program-show {
  margin: 10px 0px;
  border: solid black 2px;
  border-radius: 12px;
  padding: 10px;
}

#program-athlete-select-box {
  margin-top: 5px;
  font-size: 20px;
  height: 34px;
  width: 100%;
  border-color: #ccc;
  border-radius: 5px;
}
.panel-heading>h3 {
  background-color: #BABABA;

}

dl {
  background-color: #E6E6E6;
}

/* Contact Page */

#team-members {
  ul {
    list-style-type: none;
    li {
      padding: 0.2em;
    }
  }
}

#contact-info {
  padding: 2em;
}

/*****************
   Sign in/up
*****************/

.actions {
  margin-top: 10px;

  input {
  width: 100px;
  border-radius: 4px;
  background-color: rgba(27, 166, 166, 0.07);
  }
}

