
<ul>
  <% @exercise.each do |exercise| %>
    <li><%= exercise.title %></li>
    <li><%= exercise.description %></li>
    <li><%= exercise.category %></li>
  <% end %>
</ul>
<%= link_to "New Exercise", new_exercise_path, class: "btn btn-danger" %>
