<h1>Exercise</h1>

<ul class="list-group">
  <li class="list-group-item"><%= @exercise.title %></li>
  <li class="list-group-item"><%= @exercise.description.html_safe %></li>
  <li class="list-group-item"><%= @exercise.category %></li>
</ul>