<div class="">
  <h3 class="sidebar-header">Projects</h3>
  <ul class="sidebar-list">
    <li>Project #1</li>
    <li>Project #2</li>
    <li>Project #3</li>
    <li>Project #4</li>
  </ul>
  <h3 class="sidebar-header">Team</h3>
  <ul class="sidebar-list">
    <li>Name #1</li>
    <li>Name #2</li>
    <li>Name #3</li>
    <li>Name #4</li>
    <li>Name #5</li>
    <li>Name #6</li>
    <li>Name #7</li>
    <li>Name #8</li>
    <li>Name #9</li>
  </ul>
</div>