<div class="trainer-sidebar">
  <h3 class="sidebar-header">Programs</h3>
  <ul class="sidebar-list">
  <%# @programs = Program.all %>

  <% @programs.each do |program| %>
    <li><%= program.name %></li>
  <% end %>

  </ul>
  <h3 class="sidebar-header">Athletes</h3>
  <ul class="sidebar-list">
  <%# @athletes = Athlete.all %>
  <% @athletes.each do |athlete| %>
    <li><%= athlete.name %></li>
  <% end %>
  </ul>
</div>