
<div class="row">
  <!-- sidebar -->
  <div class="col-sm-3 sidebar-well">
    <%= render partial: 'trainer_sidebar', locals: {  programs: @programs,
                                                      athletes: @athletes,
                                                      unassigned_athletes: @unassigned_athletes,
                                                      trainer_athletes: @trainer_athletes } %>
  </div>
  <!-- main area -->
  <div class="col-sm-9">
    <%= render "profile_show" %>
  </div><!-- /.col-xs-12 main -->
</div><!--/.row-->
