<div class="page-container">
  <div class="container">
    <div class="row row-offcanvas row-offcanvas-left">
    <!-- sidebar -->
    <div class="col-xs-6 col-sm-3 sidebar" id="sidebar" role="navigation">
      <%= render 'trainer_sidebar', locals: {programs: @programs, athletes: @athletes } %>
    </div>
    <!-- main area -->
    <div class="col-xs-12 col-sm-9">
      <div class="content">
        <%= render "profile_show" %>
      </div>
    </div><!-- /.col-xs-12 main -->
    </div><!--/.row-->
  </div><!--/.container-->
</div><!--/.page-container-->
<div id="modal">
</div>
