<div class=''>
<% @athletes.each do |athlete| %>
  <li><%= link_to athlete.name, athlete_path(athlete) %></li>
<% end %>
</div>
<%= link_to 'Add Athlete', athletes_path, class: 'btn btn-danger' %>

<%= link_to 'Back', trainer_path, class: 'btn btn-primary' %>
