<ul style="list-style-type:none;">
<% @athletes.each do |athlete| %>
  <li><%= link_to athlete.name, athlete_path(athlete) %></li>
<% end %>
</ul>
<%= link_to 'Add Athlete', athletes_path, class: 'btn btn-default' %>

